body
{
	margin:0px;
	padding: 0px;
	background-image: url(images/home/bg.png);
}
.header1
{
	width: 100%;
	float: left;
}
.header2
{
	width: 100%;
	float: left;
}
.header3
{
	width: 100%;
	float: left;
}
.slider
{
	width: 100%;
	float: left;
}
.con
{
	width: 100%;
}
.footer
{
	width: 100%;
}